
  header {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  }
 
body {
background-color: black;
font-family: sans-serif;
color:white;
box-sizing: border-box;
}

.movies{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white
}