body{
    background: #07775f;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
.receita{
    display: flex;
    border: .1em solid #4e0777;
    margin-bottom: 1em;
    
}

.mainDescription{
    flex-basis: 50%;
    margin: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

img{
    max-width:100%;
}
.DIY{
    margin: 1em;
}
@media screen and (max-width:900px){
	.receita{
		flex-direction: column;
		
	}
  }

.receita:last-child{
      margin-bottom: 0;
}