body{
    background: #4e0777;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
.receita{
    display: flex;
    border: .1em solid black;
    margin-bottom: 1em;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                0 20px 20px rgba(0,0,0,0.3),
                inset 0 -10px 10px rgba(255,255,255,0.05),
                inset 0 2em 1em rgba(0,0,0,0.3);
}

.mainDescription{
    flex-basis: 50%;
    margin: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

img{
    max-width:100%;
}
.DIY{
    margin: 1em;
}
@media screen and (max-width:900px){
	.receita{
		flex-direction: column;
		
	}
  }

.receita:last-child{
      margin-bottom: 0;
}